// 默认button
.van-button--default{
  background-color: #FF7324 !important;
  color: #FFF !important;
  height: 100% !important;
  max-height: 50px !important;
}

// 弹出框
.van-dialog__footer {
  .van-button--default{
    background-color: #FFF !important;
  }
  .van-dialog__confirm, .van-dialog__confirm:active{
    color: #FF7324 !important;
  }
}
